{% extends 'todoApp/home_view.html' %}

{% block content %}
<form method='GET'>
    <input type="text" name='task_title'>
    <input type="submit" >
</form>


    {% if task_object %}
        <h2>{{task_object.title}}</h2>
        <p>{{task_object.description}}</p>
        <p>{{task_object.task_list}}</p>
    {% else %}
        {% for task in task_list_object %}
            <h2>{{task.title}}</h2>
        {% endfor %}
    {% endif %}

    <!-- {% for task in search_list %}
    {% if task.title %}
    <li>
        <a href="{{task.article_detail_absolute_url}}">{{ task.title }}</a>
    </li>
    {% endif %}
    {% endfor %} -->




{% endblock content %}