{% extends 'partials/base.html' %}

{% block content %}
<h2><a href="{% url 'task-search' %}">Przejdz do wyszukiwarki zadań</a> </h2>
<h2><a href="{% url 'task-create' %}">Dodaj zadanie</a> </h2>
<h2><a href="{% url 'task-delete' %}">Usuń zadanie</a> </h2>
<h2><a href="{% url 'login' %}">Zaloguj się</a> </h2>
<h2><a href="{% url 'register' %}">Zarejestruj się</a> </h2>
{% endblock content %}