{% extends 'partials/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <h1 class='text-white d-flex justify-content-center mb-4'>TASK LISTS</h1>

    {% for task_list in task_lists %}
    <div class='col-md-4'>
        <h2> <a class='text-white text-decoration-none ml-4' href="{% url 'specific_tasklist_view' task_list.id %}">{{ task_list }}</a> </h2>
    </div>
    {%endfor%}
{% endif %}
{% endblock content %}