{% extends 'todoApp/home_view.html' %} {% block content %}

{% load static %}
<h1 class="text-white d-flex justify-content-center mb-5">
  Your tasks of {{task_list}}
</h1>

<div class="row d-flex justify-content-center mb-2">
  <form class="form-group col-3" method="POST">
    {% csrf_token %} 
        {{form.as_p}}
        <div class="text-center">
          <button type="submit" class="col-4 btn btn-primary">Add</button>
      </div>
  </form>
</div>


{% for task in tasks %}
<h2 class="text-white d-flex justify-content-center mb-3">
  {% if task.complete is True %}
  <div class='text-center'>
    <a class="text-decoration-none" href="{% url 'task-complete' task.id %}"><del>{{ task }}</a>
      <a href="{% url 'task-delete' task.id %}">
        <img style="width:5%; margin-left:10px" src="{% static 'todoApp/media/x.png' %}"/>
      </a>
  </div>
  {% else %}
  
  <div class='text-center'>
    <a class="text-decoration-none" href="{% url 'task-complete' task.id %}">{{ task }}</a> 
    <a href="{% url 'task-delete' task.id %}">
      <img style="width:5%; margin-left:10px" src="{% static 'todoApp/media/x.png' %}"/>
    </a>
  </div>

</h2>

{% endif %}

{% endfor %} {% endblock content %}
