{% extends 'todoApp/home_view.html' %} 
{% block content %}
<h1 class="text-white d-flex justify-content-center mb-5">
    Add your task list
  </h1>
<div class="row d-flex justify-content-center mb-2">
    <form class="form-group col-3" method="POST">
      {% csrf_token %} 
          {{form.as_p}}
          <div class="text-center">
            <button type="submit" class="col-4 btn btn-primary">Add</button>
        </div>
    </form>
  </div>
{% endblock content %}
