{% extends 'todoApp/home_view.html' %}

{% block content %}
{% if not deleted %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit">
    </form>
{% else %}
    <h2>Task deleted</h2>
    {% for task in tasks %}
    <p>{{ task.title }}</p>
    {% endfor %}
{% endif %}
{% endblock content %}