{% extends 'todoApp/home_view.html' %}

{% block content %}
<h1 class="d-flex justify-content-center text-white mb-3">Search results</h1>
{% if task_object %}
    {% for task in task_object %}
        <h3 class='d-flex justify-content-center'> <a class='text-decoration-none text-white' href="{% url 'specific_tasklist_view' task.task_list.id %}">{{task}}</a></h3>
    {% endfor %}
{% else %}
    <h3 class='d-flex justify-content-center text-white'> There is no such task </h3>
    {% comment %} {% for key, value in task_list_dict.items %}
        <h2>{{key}}</h2>
        {% for task in value %}
            <h2>{{task}}</h2>
        {% endfor %}
    {% endfor %} {% endcomment %}
{% endif %}
{% endblock content %}


    <!-- {% for task in search_list %}
    {% if task.title %}
    <li>
        <a href="{{task.article_detail_absolute_url}}">{{ task.title }}</a>
    </li>
    {% endif %}
    {% endfor %} -->