

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% comment %} <input type="text" name="task_list" placeholder="Task List"> {% endcomment %}
        {{form.as_p}}
        <p>dupa</p>
        <input type="submit">
    </form>
{% endblock content %}