{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="This is to do list implemented using Django by Pawel Rozplochowski.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'todoApp/style.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    
    <title>ToDoList</title>
</head>

<body>
    {% include 'partials/nav.html' %}
    <div class='container-md p-5 mt-5 border'>
        <div class="row">
            {% block content %}
            {% endblock content %}
            {% block login_form %}
            {% endblock login_form %}
            {% block registerform %}
            {% endblock registerform %}
        </div>
    </div>
</body>

</html>