<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{% url 'home' %}">Todo App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" >Welcome {{request.user}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{% url 'task-list-create' %}">Add task list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
            <form method="POST" action="{% url 'task-search' %}" class="d-flex">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                    name='task_title'>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


{% comment %} {% if request.user.is_authenticated %}
<li class="nav-item">
    <a class="nav-link active text-white" aria-current="page" href="#">Welcome {{request.user}}</a>
</li>
<li class="nav-item">
    <a class="nav-link active text-white" aria-current="page" href="{% url 'task-list-create' %}">Add task list</a>
</li>
<li class="nav-item">
    <a class="nav-link active text-white" aria-current="page" href="{% url 'logout' %}">Logout</a>
</li>
</ul>
<form method="POST" action="{% url 'task-search' %}" class="d-flex">
{% csrf_token %}
<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
    name='task_title'>
<button class="btn btn-outline-success" type="submit">Search</button>
</form>
{%endif%} {% endcomment %}