{% extends 'partials/base.html' %}

{% block login_form %}

{% if request.user.is_authenticated %}
<p>You are logged {{request.user}}</p>
<a href="{% url 'logout' %}">Want to logout?</a>
{% else %}
<div class="col">
</div>
<div class="col-6">
  <h1 class="d-flex justify-content-center text-white mb-3">Login form</h1>
  <form method="POST">
    {% csrf_token %}
    {% if error %}
    <p style='color:red'>{{ error }}</p>
    {% endif %}
    <div class="form-group">
      <input type="text" class="form-control mb-2" name="username" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password">
      <small id="emailHelp" class="form-text text-muted">We'll never share your credentials with anyone else.</small>
    </div>
    <div class="form-group row align-items-end justify-content-center">
      <button type="submit" class="col-3 btn btn-primary mt-3">Submit </button>
      <p class='text-center col-6 pt-2'>Already had account?  <a href="{% url 'register' %}">Click here</a></p>
    </div>
  </form>
</div>
<div class="col">
</div>

{% endif %}

{% endblock login_form %}