{% extends 'todoApp/home_view.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<form method="POST">
    {% csrf_token %}
    <p>Are you sure you want to logout?</p>
    <button type='submit'>Logout</button>
</form>
{% else %}
<p>You are already logout</p>
{% endif %}
{% endblock content %}