{% extends 'partials/base.html' %}

{% block registerform %}

<div class="col">
    1 of 3
</div>
<div class="col-6">
    {% if user.is_authenticated %}
    <h2 class="text-center text-white">Youre already register</h2>
    {% else %}
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {% if error %}
            <p style='color:red'>{{ error }}</p>
            {% endif %}
            {% csrf_token %}
            <h1 class="d-flex justify-content-center text-white mb-3">Register form</h1>
            {{form.username}}
            {{form.email}}
            {{form.password1}}
            {{form.password2}}
            <div class="form-group row align-items-end justify-content-center">
                <p class='text-center col-6 pt-2'>Already have account? <a href="{% url 'login' %}">Click here</a> </p>
                <button type="submit" class="col-3 btn btn-primary mt-3">Submit</button>
            </div>

        </form>
    </div>
    {%endif%}
</div>
<div class="col">
    3 of 3
</div>
{% endblock %}




<!--Register-->
<!-- <div class="container py-5">
    <h1>Register</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div> -->